html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2.6rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

/* ***** => INTERFAZ <= ***** */
.contenedor {
  max-width: 1100px;
  margin: 0 auto;
}

.hero {
  background-image: url("./../img/arriba.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.hero .header {
  display: flex;
  justify-content: space-between;
  align-self: start;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
}

.hero .header .navegacion a {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 1rem;
}

.hero .header .navegacion a:last-of-type {
  margin-right: 0;
}

.hero .contenido-hero {
  display: grid;
  grid-template-columns: 5% auto 5%;
  grid-template-rows: max-content auto;
}

.hero .contenido-hero h1 {
  grid-column: 2/3;
  color: #FFFFFF;
}

.hero .contenido-hero form {
  grid-column: 2/3;
  grid-row: 2/3;
  position: relative;
  display: flex;
  height: 4rem;
}

.hero .contenido-hero form input[type="text"] {
  flex: 1;
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 5rem;
  background-image: url("./../img/lupa.png");
  background-repeat: no-repeat;
  background-position: calc(1% + 1rem) calc(1% + .8rem);
  font-size: 1.6rem;
}

.hero .contenido-hero form input[type="submit"] {
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  padding: .7rem 2rem;
  border-radius: 10px;
  background-color: #DA595E;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
}

/* ***** => MAIN: QUE HACER <= ***** */
.hospedaje {
  color: #275154;
}

.concierto {
  color: #DA595E;
}

.clase {
  color: #598DDA;
}

.paseo {
  color: #940AD4;
}

.contenedor-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.contenedor-cards .card img {
  width: 100%;
}

.contenedor-cards .card .info .categoria {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
}

.contenedor-cards .card .info .titulo {
  font-size: 1.6rem;
  font-weight: 900;
  margin: 0;
}

.contenedor-cards .card .info .precio {
  color: #484848;
  font-size: .9rem;
}

/* ***** => MAIN: PREMIUM <= ***** */
.premium {
  background-image: url("./../img/hospedaje-pro.jpg");
  background-repeat: no-repeat;
  grid-template-columns: unset;
  height: 30rem;
}

@media only screen and (min-width: 768px) {
  .premium {
    grid-template-columns: auto 30%;
  }
}

.premium .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .premium .info {
    grid-column: 2/3;
  }
}

.premium .info h3 {
  text-align: center;
  font-size: 2.2rem;
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .premium .info h3 {
    text-align: right;
    color: #484848;
  }
}

.premium .info .boton {
  background-color: #FFFFFF;
  display: block;
  padding: 1rem;
  color: #484848;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 0px 13px 19px -10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 13px 19px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 13px 19px -10px rgba(0, 0, 0, 0.4);
  transition: all .5s ease-in-out;
}

.premium .info .boton:hover {
  cursor: pointer;
  background-color: #DA595E;
  border: 1px solid #DA595E;
  color: #FFFFFF;
}

/* ***** => MAIN: DESTINOS <= ***** */
.destinos .contenedor-cards {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.destinos .contenedor-cards .card {
  position: relative;
}

.destinos .contenedor-cards .card .info {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.destinos .contenedor-cards .card .info .titulo {
  font-size: 1.8rem;
  color: #FFFFFF;
}
