html {
    @include box-sizing(border-box);
}

*,
*:after,
*:before {
    @include box-sizing(inherit);
}

body {
    @include box-sizing(border-box);
    font-family: $fuentePrincipal;
}

h1 {
    font-size: 2.6rem;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}


/* ***** => INTERFAZ <= ***** */

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

.hero {
    background-image: url('./../img/arriba.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    .header {
        display: flex;
        justify-content: space-between;
        align-self: start;
        align-items: center;
        width: 100%;
        padding-top: 1rem;
        .navegacion {
            a {
                color: $claro;
                text-decoration: none;
                margin-right: 1rem;
                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
    .contenido-hero {
        display: grid;
        grid-template-columns: 5% auto 5%;
        grid-template-rows: max-content auto;
        h1 {
            grid-column: 2/3;
            color: $claro;
        }
        form {
            grid-column: 2/3;
            grid-row: 2/3;
            position: relative;
            display: flex;
            height: 4rem;
            input[type="text"] {
                flex: 1;
                border-radius: 10px;
                outline: none;
                border: none;
                padding-left: 5rem;
                background-image: url('./../img/lupa.png');
                background-repeat: no-repeat;
                background-position: calc(1% + 1rem) calc(1% + .8rem);
                font-size: 1.6rem;
            }
            input[type="submit"] {
                position: absolute;
                right: 1rem;
                top: 0.6rem;
                padding: .7rem 2rem;
                border-radius: 10px;
                background-color: $primario;
                color: $claro;
                border: none;
                cursor: pointer;
                text-transform: uppercase;
                font-size: 1.2rem;
            }
        }
    }
}


/* ***** => MAIN: QUE HACER <= ***** */

.hospedaje {
    color: $hospedaje;
}

.concierto {
    color: $concierto;
}

.clase {
    color: $clase;
}

.paseo {
    color: $paseo;
}

.contenedor-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    .card {
        img {
            width: 100%;
        }
        .info {
            .categoria {
                text-transform: uppercase;
                font-size: .9rem;
                font-weight: 700;
            }
            .titulo {
                font-size: 1.6rem;
                font-weight: 900;
                margin: 0;
            }
            .precio {
                color: $oscuro;
                font-size: .9rem;
            }
        }
    }
}


/* ***** => MAIN: PREMIUM <= ***** */

.premium {
    background-image: url('./../img/hospedaje-pro.jpg');
    background-repeat: no-repeat;
    grid-template-columns: unset;
    height: 30rem;
    @include tablet {
        grid-template-columns: auto 30%;
    }
    .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        @include tablet {
            grid-column: 2/3;
        }
        h3 {
            text-align: center;
            font-size: 2.2rem;
            color: $claro;
            @include tablet {
                text-align: right;
                color: $oscuro;
            }
        }
        .boton {
            @include boton($claro,
            $oscuro,
            $primario);
        }
    }
}


/* ***** => MAIN: DESTINOS <= ***** */

.destinos {
    .contenedor-cards {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        .card {
            position: relative;
            .info {
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                .titulo {
                    font-size: 1.8rem;
                    color: $claro;
                }
            }
        }
    }
}


/* ***** => FOOTER <= ***** */

.footer {
    .nav-footer {
        padding: 1rem;
        h3 {
            font-size: 1.2rem;
        }
        a {
            display: block;
            margin-bottom: .5rem;
            text-decoration: none;
            color: $oscuro;
            &:hover {
                text-decoration: underline;
            }
            &:last-of-type {
                margin: 0;
            }
        }
    }
}


/** Redes Socialaes**/

.sociales ul {
    display: flex;
    flex-wrap: wrap;
    // justify-content: flex-start;
    justify-content: flex-end;
    padding: 0;
    /* justify-content: center;
    justify-content: space-around; */
    /* justify-content: space-between; */
    flex: 1 0 auto;
    list-style: none;
}

.sociales ul li {
    margin-right: 1rem;
}

.sociales ul li:last-of-type {
    margin-right: 0;
}

.sociales ul li a {
    text-decoration: none;
}

.sociales ul li a:before {
    font-family: "Font Awesome 5 Brands";
    color: $oscuro;
    font-size: 1.8rem;
}

.sociales ul li a[href*='facebook.com']::before {
    content: "\f39e";
}

.sociales ul li a[href*='twitter.com']::before {
    content: "\f099";
}

.sociales ul li a[href*='instagram.com']::before {
    content: "\f16d";
}

.sociales ul li span {
    display: none;
}